.header {
  background-image: url("./images/jas-min-hYaAxItJGoM-unsplash.jpg");
  background-size:cover;
  color: rgb(250, 235, 215);
  padding: 4rem 1rem;
  text-align: center;
  border-radius: 5px;
}

h1 {
  font-family: 'serif';
  font-size: 4rem;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.row {
  margin: 1rem 0;
}

form {
  margin: 1rem;
}

.article {
  margin: 2rem;
}

.article:hover {
  background-color: rgb(190, 190, 190, 0.2);
}

.article .card-title {
  text-align: center;
}

.card-title {
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
}

.snippet {
  font-style: italic;
}